<% if @user.nil? %>
  <h1>User Not Found</h1>
<% else %>

<div class="container">
  <header>
    <h1><%= "#{@merchant.name}'s Dashboard" %></h1>
    <!-- Edit own info here? Are we providing user edit/update? -->

  </header>

  <nav>
    <ul id = "merchant_options">
      <li class="btn">
        <%= link_to "Add Product", new_product_path, class:"btn btn-primary"  %>
      </li>
      <li class="btn">
        <%= link_to "Add Category", new_category_path, class:"btn btn-primary"  %>
      </li>
    </ul>
  </nav>

  <section class="container">
    <h2>My Products</h2>
    <ul>
      <%= @merchant.products.each do |product| %>
        <li>
          <h3><%= "#{product.name}" %></h3>
          <%# image_tag("product.photo"), alt="#{product.name} image" %>
          <p><%= "Price: #{product.price}" %></p>
          <p><%= "Description: #{product.description}" %></p>
          <p><%= "Stock: #{product.stock}" %></p>
          <!--TODO Not sure what retire products post route is for, should hide product if selected  -->
          <!-- Maybe products have status of active/inactive and retire makes them inactive? -->
          <%= link_to "Retire Product", retire_path(product.id), class: "btn btn-primary", method: :post %>
          <%= link_to "Edit Product", edit_product_path(product.id), class: "btn btn-primary" %>
        </li>

      <% end %>
    </ul>
  </section>


  <section class="container">
    <h2>Orders</h2>
    <%= render partial: "statussummary" %> 
    <ul>
      <li>
        <h3><%= "Total Revenue: $" %></h3>
      </li>
      <h3>
        <%= "View Orders by Status:" %>
      </h3>
      <ul id="order_status_list">
        <li>
          <%= "Pending - Link to order show page for paid status (user/id/orders/show/pending)" %>
        </li>
        <li>
          <%= "Paid - Link to show page for paid status (user/id/orders/show/paid)" %>
        </li>
        <li>
          <%= "Completed - user/id/orders/show/complete" %>
        </li>
        <li>
          <%= "Cancelled - user/id/orders/show/cancelled" %>
        </li>
      </ul>
    </ul>


    <h3><%= "Order Summary" %></h3>
    <table class="table">
      <thead>
        <tr>
          <th>
            <%= "Order" %>
          </th>
          <th>
            <%= "Date" %>
          </th>
          <th>
            <%= "Product" %>
          </th>
          <th>
            <%= "Price" %>
          </th>
          <th>
            <%= "Quantity" %>
          </th>
          <th>
            <%= "Subtotal" %>
          </th>
          <th>
            <%= "Order Status" %>
          </th>
          <th>
            <%= "Shipped Status" %>
          </th>
          <th>
            <%= "Edit Shipped Status" %>
          </th>
        </tr>
      </thead>
      <!-- TODO Loop through order items for merchant here  -->
      <!-- Show order id, date, product, price, quantity, subtotal, order status  -->
      <!-- shipped status -->
      <% @order_items.each do |item| %>
        <tr>
          <td>
            <%= link_to "#{item.order.id}", order_path(item.order.id) %>
          </td>
          <td>
            <%= item.order.updated_at %>
          </td>
          <td>
            <%= link_to "#{item.product.name}", product_path(item.product.id) %>
          </td>
          <td>
            <%= item.product.price %>
          </td>
          <td>
            <%= item.quantity %>
          </td>
          <td>
            <%= "Subtotal Here - Katherine creating this in order item?" %>
          </td>
          <td>
            <%= item.order.status.capitalize %>
          </td>
          <td>
            <%= "TODO SHIPPED STATUS" %>
          </td>
          <td>
            <%= "TODO - Option to edit shipped status" %>
          </td>
        </tr>
      <% end %>
    </table>

  </section>
  </div>
<% end %>
