<% if @user.nil? %>
  <h1>User Not Found</h1>
<% else %>

<div class="container">
  <header>
    <p><%= "#{@merchant.name}'s Dashboard" %></p>
    <!-- Edit own info here? Are we providing user edit/update? -->

  </header>

  <nav>
    <ul id = "merchant_options">
      <li class="btn">
        <%= link_to "Add Product", new_product_path, class:"btn btn-primary"  %>
      </li>
      <li class="btn">
        <%= link_to "Add Category", new_category_path, class:"btn btn-primary"  %>
      </li>
      <li class="btn">
        <!-- Dropdown of status and all here  -->
            <%= link_to "All Orders", dashboard_path(:status=>"all"), class:"btn btn-primary" %>
      </li>

          <% @status_types.each do |status| %>
            <li class="btn btn-primary">
              <%=link_to "#{status.capitalize} Orders", dashboard_path(:status=>"#{status}"), class:"btn btn-primary" %>
            </li>
          <!-- Make these links? link_to a path helper -->

          <% end %>
    </ul>
  </nav>

  <section class="container">
    <h2>My Products</h2>
    <ul>
      <% @merchant.products.each do |product| %>
        <li>
          <h3><%= "#{product.name}" %></h3>
          <%# image_tag("product.photo"), alt="#{product.name} image" %>
          <p><%= "Price: #{product.price}" %></p>
          <p><%= "Description: #{product.description}" %></p>
          <p><%= "Stock: #{product.stock}" %></p>
          <!--TODO Not sure what retire products post route is for, should hide product if selected  -->
          <!-- Maybe products have status of active/inactive and retire makes them inactive? -->
<<<<<<< HEAD
          <%# link_to "Retire Product", retire_path(product.id), class: "btn btn-primary", method: :post %>
=======
          <%= link_to "Retire Product", product_retire(product.id), class: "btn btn-primary", method: :post %>
>>>>>>> order_cart_view
          <%= link_to "Edit Product", edit_product_path(product.id), class: "btn btn-primary" %>

        <% end %>
      </tbody>

    </table>

  </section>


  <section class="container">
    <h2>Orders</h2>
    <%= render partial: "statussummary" %>
    <!-- <ul>
      <li>
        <h3><%= "Total Revenue: $" %></h3>
      </li>
      <h3>
        <%= "View Orders by Status:" %>
      </h3>
      <ul id="order_status_list">
        <li>
          <%= "Pending - Link to order show page for paid status (user/id/orders/show/pending)" %>
        </li>
        <li>
          <%= "Paid - Link to show page for paid status (user/id/orders/show/paid)" %>
        </li>
        <li>
          <%= "Completed - user/id/orders/show/complete" %>
        </li>
        <li>
          <%= "Cancelled - user/id/orders/show/cancelled" %>
        </li>
      </ul>
    </ul>


    <h3><%= "Order Summary" %></h3>
    <table class="table">
      <thead>
        <tr>
          <th>
            <%= "Order" %>
          </th>
          <th>
            <%= "Date" %>
          </th>
          <th>
            <%= "Product" %>
          </th>
          <th>
            <%= "Price" %>
          </th>
          <th>
            <%= "Quantity" %>
          </th>
          <th>
            <%= "Subtotal" %>
          </th>
          <th>
            <%= "Order Status" %>
          </th>
          <th>
            <%= "Shipped Status" %>
          </th>
          <th>
            <%= "Edit Shipped Status" %>
          </th>
        </tr>
      </thead>
      <!-- TODO Loop through order items for merchant here  -->
      <!-- Show order id, date, product, price, quantity, subtotal, order status  -->
      <!-- shipped status -->
      <!-- <% @order_items %> -->
  </section>
  </div>
<% end %>
