<% if @user.nil? %>
  <h1>User Not Found</h1>
<% else %>

<div class="container">
  <header>
    <h1>Dashboard</h1>
    <!-- Edit own info here? Are we providing user edit/update? -->
    <h1><%= @merchant.name %></h1>
    <p>
      <%= @merchant.email %>
    </p>
  </header>

  <nav>
    <ul id = "merchant_options">
      <li class="btn black-button">
        <%= link_to "Add Product", new_product_path  %>
      </li>
      <li>
        <%= link_to "Add Category", new_category_path  %>
      </li>

    </ul>
  </nav>

  <section>
    <h2>Products</h2>
    <ul>
      <%= @merchant.products.each do |product| %>
        <li>
          <h3><%= "#{product.name}" %></h3>
          <%# image_tag("product.photo"), alt="#{product.name} image" %>
          <p><%= "Price: #{product.price}" %></p>
          <p><%= "Description: #{product.description}" %></p>
          <p><%= "Stock: #{product.stock}" %></p>
          <%= link_to "Retire Product", retire_path(product.id), class: "btn btn-primary" %>
          <p>
            <%= link_to "Edit Product", edit_product_path(product.id), class: "btn btn-primary" %>
          </p>
        </li>

      <% end %>
    </ul>
  </section>

  <section>
    <h2>Orders</h2>
    <ul>
      <% @order_items.each do |order_item| %>
      <li>
        <P>
          <%= "Item: #{order_item.name}" %>
        </P>
      </li>
      <li>
        <P>
          <%= "Price: #{order_item.price}" %>
        </P>
      </li>
      <li>
        <P>
          <%= "Description: #{order_item.description}" %>
        </P>
      </li>

      <% end %>
    </ul>
  </section>
  </div>
<% end %>
