<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>

<% if @current_order.products.count == 0 %>
  <p>There's nothing in your cart!</p>
<% else %>
<ul>
  <% @current_order.orders_items.each do |orders_item| %>
    <li>
      <%=  orders_item.product.name %>
    </li>
    <li>
      <%=  orders_item.product.price %>
    </li>
    <li>
      <%=  orders_item.quantity %>
    </li>
    <li>
      <%=  orders_item.calculate_total %>
    </li>
    <li><%= link_to "Remove Item from Cart", order_orders_item_path(@order.id, orders_item.id), :method => :delete  %></li>

    <%= @current_order.order_calculate_total(product_path) %>

<% end %>
<% end %>
    <%= link_to "Complete Order", edit_order_path(@current_order.id)%>
</ul>
