<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<h1>Shopping Cart</h1>

<% if @current_order.products.count == 0 %>
  <p>There's nothing in your cart!</p>
<% else %>
<ul>
  <% @current_order.orders_items.each do |orders_item| %>
    <li>
      <%=  orders_item.product.name %>
    </li>
    <li>
      <%=  orders_item.product.price %>
    </li>
    <li>
      <%=  orders_item.quantity %>
    </li>
    <li>
      <%=  orders_item.calculate_total %>
    </li>
    <li><%= link_to "Remove Item from Cart", order_orders_item_path(@order.id, orders_item.id), :method => :delete  %></li>

    <% end %>
<% end %>
</ul>

<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
            <% @current_order.orders_items.each do |item| %>
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><%= image_tag(item.product.photo, class: "img-responsive")%></div>
									<div class="col-sm-10">
										<h4 class="nomargin"><%= item.product.name %></h4>
										<p><%= item.product.description %></p>
									</div>
								</div>
							</td>
							<td data-th="Price">$<%= readable_price(item.product.price) %></td>
							<td data-th="Quantity">
								<input type="number" class="form-control text-center" value="1">
							</td>
							<td data-th="Subtotal" class="text-center">1.99</td>
							<td class="actions" data-th="">
                <%= link_to "Update", product_add_to_cart_path(item.product.id) , class: "btn btn-info btn-sm", method: :post%>
                <%= link_to "Remove", order_orders_item_path(item.product.id) , class: "btn btn-danger btn-sm", method: :delete%>

							</td>
						</tr>
            <%end%>
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total 1.99</strong></td>
						</tr>
						<tr>
							<td><%= link_to "Continue Order", products_path, class: "btn btn-warning"%></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
              <td><%= link_to "Complete Order", edit_order_path(@current_order.id), class: "btn btn-success btn-block"%></td>
						</tr>
					</tfoot>
				</table>
</div>
