  <section class="form">
    <% if @product.errors.any? %>
      <ul class="errors">
        <% @product.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
        <% end %>
      </ul>
    <% end %>

    <%= form_with model: @product, class: "form" do |f|%>

        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name%>

        <%= f.label :price %>
        <%= f.text_field :price, class: ""%>

        <%= f.label :name %>
        <%= f.text_field :name, class: ""%>


        <%= f.label :description %>
        <%= f.text_field :description, class: ""%>

        <%= f.label :stock %>
        <%= f.text_field :stock, class: "" %>

        <%# f.label :photo %>
        <%# f.text_field :photo, class: "form__input" %>

      <%= f.submit button_title, class: 'btn'%>
    <% end %>
  </section>
</section>
