<div class="container">
  <section class="form">
    <% if @product.errors.any? %>
      <ul class="errors">
        <% @product.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
        <% end %>
      </ul>
    <% end %>

    <%= form_with model: @product, class: "form" do |f|%>
    <ul>

        <%# f.collection_check_boxes :category_ids, Category.all, :id, :name%>
        <li><%= f.label :categories %></li>
        <li><%= collection_check_boxes(:product, :category_ids, Category.all, :id, :name) %></li>

        <li><%= f.label :price %> </li>
        <li><%= f.text_field :price, class: ""%></li>

        <li><%= f.label :name %></li>
        <li><%= f.text_field :name, class: ""%></li>


        <li><%= f.label :description %></li>
        <li><%= f.text_field :description, class: ""%></li>

        <li><%= f.label :stock %></li>
        <li><%= f.text_field :stock, class: "" %></li>

        <li><%= f.label :photo %></li>
        <li><%= f.text_field :photo, class: "" %></li>

      <%= f.submit button_title, class: 'btn btn-info'%>
      <% end %>
    </ul>

  </section>
</div>
