<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<% if @product.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h1><%=@product.name %></h1>
  <section><%#@product.photo %></section>
  <ul>
    <li><strong>Price:</strong> <%= @product.price %></li>
    <li><strong>Description:</strong> <%= @product.description %></li>
    <li><strong>Stock:</strong> <%= @product.stock %></li>
  </ul>
<% end %>
<td><%= button_to "Add to Cart", add_to_cart_path(@product.id), method: :add_to_cart %></td>

<!-- add integer input field(text validation) for quantity + add to cart button, -->
    <!-- capture product params pass to add_product method in orders--> 
<!-- if signed in as merchant and this is your product then show  -->
  <%# link_to "Edit", edit_product_path(@product.id) %>
  <%# link_to "Delete #{@product.title}", product_path(@product.id), method: :delete %>
<%# end %>
