<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h1>
      <%= link_to "Thrillow", products_path %>
      <small>find your thrill</small>
    </h1>

    <nav>
      <ul>
        <li>
          <%= link_to "Shop All Products", products_path, class: "" %>
        </li>
        <li >
          <%= link_to "by Category", categories_path, class: "" %>
        </li>
        <li>
          <%= link_to "by Merchant", users_path, class: "" %>
        </li>
        <li>
          <%# link_to "View all users", users_path, class: "nav-link" %>
        </li>
      </ul>
    </nav>



    <main>
    <%= yield %>
    </main>

  </body>
</html>
