<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app-header__header">
    <h1>
      <%= link_to "Thrillow", products_path %>
      <small>find your thrill</small>
    </h1>

    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          <%= link_to "View All Products/aka home pg", products_path, class: "nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%# link_to "View all media", works_path, class: "nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%# link_to "Add a new work", new_work_path, class: "nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%# link_to "View all users", users_path, class: "nav-link" %>
        </li>
        <li>
          <% if session[:user_id] %>
            <%= link_to "Log out", logout_path, method: "delete"  %>
          <% else %>
            <%= link_to "Login with Github", "/auth/github" %>
          <% end %>

        </li>
        <!-- Add link for merchant to see their show page -->
        <!-- Is redirecting back to home for some reason -->
        <% if session[:user_id] %>
          <%= link_to "Merchant Homepage", user_path(session[:user_id]) %>
        <% end %>

      </ul>


    <main>
    <%= yield %>
    </main>

  </body>
</html>
