<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app-header__header">
    <h1>
      <%= link_to "Thrillow", products_path %>
      <small>find your thrill</small>
    </h1>

    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          <%= link_to "Shop All Products", products_path, class: "nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to "by Category", categories_path, class: "nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to "by Merchant", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%# link_to "View all users", users_path, class: "nav-link" %>
        </li>
      </ul>



      <ul class="nav app-header__user-nav-container">
        <% if @login_user %>

        <li class="nav-item app-header__nav_item">
        <%= link_to "Logged in as #{@login_user.username}", user_path(@login_user), class: "btn btn-primary" %>
        </li>
        <li class="nav-item app-header__nav_item">
        <%= link_to "Log Out", logout_path, method: "delete", class: "btn btn-primary" %>
        </li>

  <% else %>

        <li class="nav-item app-header__nav_item">
        <%= link_to "Login with Github", "/auth/github", class: "btn btn-primary" %>
        </li>
        <% end %>
      </ul>


    <main>
    <%= yield %>
    </main>

  </body>
</html>
