<!DOCTYPE html>
<html>
<head>
  <title>Thrillow</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <h1>
      <%= link_to "Thrillow", root_path %>
    </h1>

    <nav>
      <ul>
        <li>
          <%= link_to "Shop All Homes", products_path, class: "" %>
        </li>
        <li >
          <%= link_to "Shop By Categories", categories_path, class: "" %>
        </li>
        <li>
          <%= link_to "Shop By Sellers", users_path, class: "" %>
        </li>
        <li>
          <% if session[:user_id] %>
            <%= link_to "Log out", logout_path, method: "delete"  %>
          <% else %>
            <%= link_to "Login with Github", "/auth/github" %>
          <% end %>

        </li>
        <!-- Add link for merchant to see their show page -->
        <!-- Is redirecting back to home for some reason -->
        <% if session[:user_id] %>
          <%= link_to "Merchant Dashboard", dashboard_path(session[:user_id]) %>
        <% end %>

      </ul>
    </nav>


    <main>
      <%= yield %>
    </main>

  </body>
  </html>
